.card__item__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 8px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.card__item__header:hover {
  color: var(--active-link-color);
}

.card__item__header__left {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: row;
}

.card__item__content {
  padding: 8px 12px;
}

.card__item__header__link {
  color: white;
}

.card__item__header__link:hover {
  text-decoration: underline;
  color: blue;
  text-decoration-color: white;
}