.customers__table {
  width: 100%;
  margin-top: 12px;
  table-layout: fixed;
}

.customers__table>tbody>tr:first-child {
  border-top: 1px solid var(--main-color);
}

.customers__table>tbody>tr {
  border-bottom: 1px solid var(--main-color);
  font-size: 16px;
  width: 33%;
}

.customers__table>tbody>tr>td {
  padding: 6px 12px;
}

.customers__table__comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}